#shortened_url
  %h1 URL shortener app

  #new_url_button
    = link_to "New url", new_shortened_url_path, class: "btn btn-primary btn-lg"

  %table{ class: "table table-dark table-striped table-bordered" }
    %thead
      %tr
        %th Short URL
        %th Full URL
    %tbody
      - @urls.each do |url|
        %tr
          %td= link_to url.short_url, url.full_url
          %td= url.full_url
