#shortened_url_details
  %h1 URL visit graphic

  .chart
    = line_chart @datas, xtitle: "Minutes", ytitle: "Number of clics", width: "1000px", title: "Clic on url per minute"

.back-button
  = link_to 'Back', shortened_urls_path, class: "btn btn-secondary back-button"
