#shortened_url_details
  %h1 URL visit graphic

  = line_chart @visits.group('extract(minute from url_visits.created_at)').count, xtitle: "Minutes", ytitle: "Number of clics"

.back-button
  = link_to 'Back', shortened_urls_path, class: "btn btn-secondary back-button"
