#shortened_url_details
  %h1 URL visit graphic

  .chart
    = line_chart @visits.group("concat(extract(hour from created_at), 'h', extract(minutes from created_at))").count, xtitle: "Minutes", ytitle: "Number of clics", width: "1000px"

.back-button
  = link_to 'Back', shortened_urls_path, class: "btn btn-secondary back-button"
